<div class="container">
  <div class="wrapper">
    <a class="neon-btn" routerLink="/app-winners"> Winners &gt;&gt;</a>
    <h6 class="page-title">Garage</h6>
  </div>

  <div class="wrapper">
    <div class="race-options">
      <a href="#" class="neon-btn">Race</a>
      <a href="#" class="neon-btn">Reset</a>
    </div>
    <span class="spacer"></span>
    <div class="create-options">
      <a href="#" class="neon-btn">Create</a>
      <a href="#" class="neon-btn">Update</a>
    </div>
    <span class="spacer"></span>
    <div class="mass-create-options">
      <a href="#" class="neon-btn">Generate cars</a>
    </div>
  </div>
  
  <app-car-list></app-car-list>
</div>
