.neon-btn {
  margin: 0;
  background: none;
  border: none;
  font: inherit;
}

.neon-btn:hover {
  color: #333;
  background: #6c0;
}

.sorting-buttons {
  display: flex;
  margin: 20px;
}

.table {
  width: 70%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  margin: 20px;
  font-size: 18px;
  text-align: left;
}

.table thead tr {
  text-align: left;
  font-weight: bold;
}

.table tbody tr:last-of-type {
  border-bottom: 2px solid #6c0;
}

.ascii-car {
  font-family: "Courier New", monospace;
  font-size: 16px;
  line-height: 1.2;
}

