mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 200px;
  background-color: #000;

  .logo {
    font-size: 15px;
    font-weight: bold;
    line-height: 1.2;
    color: #6c0;
    margin-top: 1rem;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .search-field {
    width: 300px;
  }
}
